<section>
                    <p class="order_title">
                        Order a delivery
                    </p>
                </section>

                <hr class="hr">

              
                <section class="columns">
    
                    <div class="order-column">
                        <table>
                            <tr width="30%">
                                <td class="order-txt" rowspan="3" align="center">
                                    Origin <i class="fas fa-map-marker-alt"></i>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                    <label>
                                        <select>
                                            <option selected> Select Box </option>
                                            <option>Short Option</option>
                                            <option>This Is A Longer Option</option>
                                        </select>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                    <label>
                                        <select>
                                            <option selected> Select Box </option>
                                            <option>Short Option</option>
                                            <option>This Is A Longer Option</option>
                                        </select>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="order-column" id="destination">
                        <table>
                            <tr>
                                <td class="order-txt" rowspan="3" align="center">
                                    Destination <i class="fas fa-map-marker-alt"></i>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                    <label>
                                        <select>
                                            <option selected> Select City </option>
                                            <option>Short Option</option>
                                            <option>This Is A Longer Option</option>
                                        </select>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                    <label>
                                        <select>
                                            <option selected> Pickup Location </option>
                                            <option>Short Option</option>
                                            <option>This Is A Longer Option</option>
                                        </select>
                                    </label>
                                </td>
                            </tr>
                            
                        </table>
                    </div>

                    <div class="order-column">
                        <table>
                            <tr>
                                <td rowspan="3" class="order-txt" align="center">
                                    Service <i class="fas fa-cogs"></i>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                    <label>
                                        <select>
                                            <option selected> Select Box </option>
                                            <option>Short Option</option>
                                            <option>This Is A Longer Option</option>
                                        </select>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                    <label>
                                        <select>
                                            <option selected> Select Box </option>
                                            <option>Short Option</option>
                                            <option>This Is A Longer Option</option>
                                        </select>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </div>
                    
                </section>

                <h4 class="order_details_title">Order Details</h4>
                <hr class="hr">
                <div class="order_details">
                    
                    <input type="text" class="order-input" id="item-name" placeholder="item name" name="item-name">
                    <input type="text" class="order-input" id="item-weight" placeholder="weight (kg)" name="item-weight">
                    <input type="text" class="order-input" id="item-length" placeholder="length (cm)" name="item-length">
                    <input type="text" class="order-input" id="item-width" placeholder="width (cm)" name="item-width">
                    <input type="text" class="order-input" id="item-height" placeholder="height (cm)" name="item-height">
                    <input type="number" class="order-input" id="item-qty" placeholder="item(s) qty" name="item-height">
                    
                </div>

                <h4 class="order_details_title">Account Details</h4>

                <hr class="hr">

                <div class="order_details">
                    <input type="text" class="order-input" id="u_name" placeholder="name" name="u_name">
                    <input type="email" class="order-input" id="email" placeholder="email" name="email">
                    <input type="password" class="order-input" id="pwd" placeholder="password" name="pswd"> 
                </div>
                    <br>
                    <button type="submit" class="order_btn">
                        Submit <i class="fas fa-paper-plane"></i>
                    </button>