{% extends "layout.html" %}

{% block content %}
            



            <!-- SLIDESHOW CONTAINER BEGINS HERE -->
            <div class="slideshow-container">

                <div class="mySlides fade">
                    <div class="numbertext">
                        World Wide Transport For Everyone..
                        <p class="slider_content">
                            We offer a diverse range of transportation services from project cargo to international transportation and domestic retail distribution and delivery.
                        </p>
                        <a href="create_order.html" class="order"><button class="button"><span>Order Now</span></button></a>
                    </div>
                    <img src="{{ url_for('static', filename='img/slider/1.jpg') }}">
                    <div class="text"></div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">
                        24*7 services for Customers..
                        <p class="slider_content">
                            We offer a diverse range of transportation services from project cargo to international transportation and domestic retail distribution and delivery.
                        </p>
                        <button class="button" style=""><span>Order Now </span></button>
                    </div>
                    <img src="{{ url_for('static', filename='img/slider/2.jpg') }}">
                    <div class="text"></div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">
                        Transport your cargo everywhere..
                        <p class="slider_content">
                            We offer a diverse range of transportation services from project cargo to international transportation and domestic retail distribution and delivery.
                        </p>
                        
                        <a href="order_now.html">
                            <button class="button">
                                <span>Order Now </span>
                            </button>
                        </a>
                    </div>
                    <img src="{{ url_for('static', filename='img/slider/3.jpg') }}">
                    <div class="text"></div>
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

            </div>
            <!-- SLIDESHOW CONTAINER ENDS HERE -->



            <section class="columns">
    
                <div class="column">
                    <p class="service_icon">
                        <i class="fas fa-car"></i>
                    </p>
                    <h2>ROAD TRANSPORT</h2>
                    <p class="service_text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ratione architecto necessitatibus cum praesentium dolor totam voluptatibus recusandae? Illo quod nemo ratione itaque dolores laudantium error vero laborum blanditiis architecto ecessitatibus cum praesentium dolor nostrum.
                    </p>
                </div>
                
                <div class="column">
                    <p class="service_icon">
                        <i class="fab fa-avianex"></i>
                    </p>
                    <h2>AIR FREIGHT</h2>
                    <p class="service_text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ratione architecto necessitatibus cum praesentium dolor totam voluptatibus recusandae? Illo quod nemo ratione itaque dolores laudantium error vero laborum blanditiis architecto ecessitatibus cum praesentium dolor nostrum.
                    </p>
                </div>
              
                <div class="column">
                    <p class="service_icon">
                        <i class="fas fa-train"></i>
                    </p>
                    <h2>RAILWAY LOGISTICS</h2>
                    <p class="service_text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ratione architecto necessitatibus cum praesentium dolor totam voluptatibus recusandae? Illo quod nemo ratione itaque dolores laudantium error vero laborum blanditiis architecto ecessitatibus cum praesentium dolor nostrum.
                    </p>
                </div>
                
            </section>
            <div class="clear"></div>


            <br>
            
        



        <script>
            
            var slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
              showSlides(slideIndex += n);
            }

            function currentSlide(n) {
              showSlides(slideIndex = n);
            }

            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                var dots = document.getElementsByClassName("dot");
                if (n > slides.length) 
                {
                    slideIndex = 1;
                }    
                if (n < 1) 
                {
                    slideIndex = slides.length;
                }
                for (i = 0; i < slides.length; i++) 
                {
                  slides[i].style.display = "none";  
                }

                for (i = 0; i < dots.length; i++) 
                {
                  dots[i].className = dots[i].className.replace(" active", "");
                }
              slides[slideIndex-1].style.display = "block";  
              dots[slideIndex-1].className += " active";
            }
        </script>

{% endblock %}