<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>SendIT | Login</title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- fontawesome icons -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">


        <!-- jquery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- custom css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer-style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form_css.css') }}">

    </head>
    <body>

            <form id="user_form" action="" method="post">
                <div id="form_header">

                    {% if error %}
                        <p class="error"> <i class="fa fa-info-circle"></i> Error: {{ error }} </p>
                    {% endif %}

                    <h3>User Login</h3>
                    <p><i id="login_icon" class="fas fa-sign-in-alt"></i></p>
                    <p class="login_txt">Please fill in this form to sign into your account.</p>
                </div>
                <hr>

                <input type="text" class="txt_field" placeholder="username" name="username" value="{{ request.form.username }}" required />
                <input type="password" class="txt_field" placeholder="password" name="password" value="{{ request.form.password }}" required />

                <p>
                    <label class="rem">
                      <input class="remember_checkbox" type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </p>
                

                <br>
                <div class="clearfix">
                  	<button type="submit" class="signupbtn">Login</button>
                </div>
            </form>


       
    </body>
</html>
